
.editProduct{
    padding: 10px;
    margin:20px;
    border:black ;
}
.EditAddHeader{
    text-align: center;
}
.buttonSubmitPadding{
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.navbar {
	padding: 10px 50px;
}

.container-fluid {
	padding-left: 0;
}

.nav-item {
	padding: 0 20px 0;
}

#footer {
	padding: 5px 30px;
	background-color: #e6e6e6;
}

.footer-brand {
	padding-top: 5px;
	text-align: right;
}

.footer-item {
	padding-top: 5px;
	padding-bottom: 5px;
}

.footer-item a {
	color: #212529;
}

.footer-item a:hover {
	color: #6c757d;
}

#footer .row {
	margin: 20px 0 20px 0;
}