table {
	border-radius: 20px;
	border-collapse: collapse;
	margin: auto;
}

@media (min-width: 800px) {
	td {
		padding-right: 100px;
	}

	.container {
		width: 80%;
	}
}

th {
	text-align: left;
}

th.buttons {
	text-align: center;
}

td.buttons {
	padding-right: 0px;
}

td {
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	/* border-right: 1px solid black;  */
	width: fit-content;
}

#test-order {
	display: none;
}

.total {
	font-weight: bold;
	font-size: 15pt;
}

.material-icons {
	font-size: 12pt;
}

button {
	background-color: white;
	border: none;
	float: right;
}

button:hover {
	background-color: rgb(226, 226, 226);
}
