h1 {
  padding: 20px 0;
}

a {
  text-decoration: none;
}

.navbar {
  padding: 10px 50px;
}

.nav-item {
  padding: 0 20px 0;
}

.main-section {
  padding: 30px;
}

.container-fluid {
  padding-left: 0;
}

.list-group-item {
  width: 100%;
  padding: 15px 0 15px 10px;
}

.item {
  padding: 10px;
}

.buttons {
  text-align: right;
}

.btn-outline-dark {
  margin: 5px;
  padding-top: 6px;
  width: 40px;
  margin: 0 2px 0 5px;
}

.btn-outline-danger {
  width: auto;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.auto {
  width: auto;
}

.more-description {
  width: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.cart {
  padding-bottom: 30px;
}

.pay {
  text-align: right;
  padding-right: 20px;
}

.final-btns .btn {
  margin-top: 30px;
  text-align: center;
  width: 100%;
}

input {
  padding: 7px;
  width: 50px;
  outline-width: 0;
  border: 1px solid;
  border-style: none none solid;
  text-align: center;
}

.padding-left {
  margin-left: 20px;
}

.space {
  margin-right: 20px;
}

#footer {
  padding: 5px 30px;
  background-color: #e6e6e6;
}

.footer-brand {
  padding-top: 5px;
  text-align: right;
}

.footer-item {
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer-item a {
  color: #212529;
}

.footer-item a:hover {
  color: #6c757d;
}

#footer .row {
  margin: 20px 0 20px 0;
}

